/* Google Fonts - Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 1em;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, button {
  margin: 0; 
  padding: 0;
}

address, em, i, cite {
  font-style: normal;
}

em,
strong {
  font-weight: 700;
}

button,
.btn {
  display: block;
  border: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

i[class^="fa"] span {
  position: absolute;
  left: -9999px;
}

.hide {
  position: absolute;
  left: -9999px;
}

#skip-nav {
  position: fixed;
  left: 0;
  top: -40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 16px;
  z-index: 100;
  transition: .3s;
}

#skip-nav:focus {
  top: 0;
}

/* SCROLL MAGIC */
.movement {
  opacity: 0;
  transition: 1s;
}

.show .movement.to-top {
  opacity: 1;
  transform: translateY(0);
}

.movement.to-top {
  transform: translateY(150px);
}

.show .movement.to-top.delay-0 {
  transition-delay: 0s;
}
.show .movement.to-top.delay-1 {
  transition-delay: .2s;
}
.show .movement.to-top.delay-2 {
  transition-delay: .4s;
}
.show .movement.to-top.delay-3 {
  transition-delay: .6s;
}
.show .movement.to-top.delay-4 {
  transition-delay: .8s;
}