/* COMMON */
.mobile {
  display: none !important;
}

.pc {
  display: block !important;
}

br.only-m {
  content: '';
}

#wrapper {
  min-width: 768px;
  overflow: hidden;
}

/* INNER */
.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
body.my-camping-car #header {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

body.my-camping-car #header .inner {
  padding: 25px 0;
  border-bottom: 1px solid #bdbdbd;
}

body.my-camping-car #header nav ul.main-menu li a,
body.my-camping-car #header nav ul.sub-menu li a,
body.my-camping-car #header nav ul.main-menu li.active a {
  color: #fff;
}

body.my-camping-car #header nav ul.main-menu li.active span {
  border-bottom: 1px solid #fff;
}

/* VIDEO */
body.my-camping-car .video .video__title {
  background-color: #0f1b28;
  max-width: none;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

body.my-camping-car .video .video__title span {
  margin-right: 5px;
}

body.my-camping-car .video .video__title span:last-child {
  margin-right: 0;
}

/* VISUAL -1-*/
body.my-camping-car .visual {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body.my-camping-car .visual.visual1 {
  background-image: url("../../img/experience/visual1_bg.jpg");
  background-attachment: fixed;
}

body.my-camping-car .visual.visual1 .inner {
  height: 100vh;
}

body.my-camping-car .visual.visual1 .text-group .text {
  max-width: 547px;
  position: absolute;
}

body.my-camping-car .visual.visual1 .text-group .text.text1 {
  left: 20%;
  top: 100px;
}

body.my-camping-car .visual.visual1 .text-group .text.text2 {
  right: 0;
  bottom: 100px;
}

/* SLOAGN */
body.my-camping-car .slogan {
  background-color: #fff;
}

body.my-camping-car .slogan .inner {
  padding: 100px 0;
}

body.my-camping-car .slogan .swiper.visual-swiper .swiper-slide.slide0 {
  background-image: url("../../img/experience/slogan_slide0.jpg");
}
body.my-camping-car .slogan .swiper.visual-swiper .swiper-slide.slide1 {
  background-image: url("../../img/experience/slogan_slide1.jpg");
}
body.my-camping-car .slogan .swiper.visual-swiper .swiper-slide.slide2 {
  background-image: url("../../img/experience/slogan_slide2.jpg");
}
body.my-camping-car .slogan .swiper.visual-swiper .swiper-slide.slide3 {
  background-image: url("../../img/experience/slogan_slide3.jpg");
}
body.my-camping-car .slogan .swiper.visual-swiper .swiper-slide.slide4 {
  background-image: url("../../img/experience/slogan_slide4.jpg");
}

body.my-camping-car .slogan .swiper.visual-swiper .swiper-pagination-bullet {
  width: 25px;
  height: 2px;
  margin: 5px 7.5px;
  background-color: #fff;
  border-radius: 0;
  opacity: .5;
}

body.my-camping-car .slogan .swiper.visual-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

body.my-camping-car .slogan .text-group {
  text-align: center;
  padding: 100px 0;
}

body.my-camping-car .slogan .text-group .text {
  font-size: 26px;
  color: #3d464b;
}

body.my-camping-car .slogan .text-group .text.text2 {
  font-weight: 700;
  margin-top: 60px;
}

body.my-camping-car .slogan .swiper.visual-swiper {
  padding-bottom: 0;
}

body.my-camping-car .slogan .swiper.sub-swiper {
  display: block;
  height: 520px;
}

body.my-camping-car .slogan .swiper.sub-swiper .swiper-slide.slide0 {
  background-image: url("../../img/experience/slogan_slide2.jpg");
}
body.my-camping-car .slogan .swiper.sub-swiper .swiper-slide.slide1 {
  background-image: url("../../img/experience/slogan_slide3.jpg");
}
body.my-camping-car .slogan .swiper.sub-swiper .swiper-slide.slide2 {
  background-image: url("../../img/experience/slogan_slide4.jpg");
}

/* VISUAL -2-*/
body.my-camping-car .visual.visual2 {
  background-image: url("../../img/experience/visual2_bg.png");
}

body.my-camping-car .visual.visual2 .inner {
  height: 1000px;
}

body.my-camping-car .visual.visual2 .title {
  width: 930px;
  margin: 0 auto;
  padding-top: 90px;
}

/* THEME */
body.my-camping-car .theme {
  background-color: #fff;
  text-align: center;
}

body.my-camping-car .theme .inner {
  padding: 100px 0;
}

body.my-camping-car .theme .theme__title {
  font-size: 48px;
  color: #1ecad3;
}

body.my-camping-car .theme .theme__description {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #3d464b;
  padding: 30px 0 100px 0;
}

body.my-camping-car .theme .theme__menu {
  display: flex;
  justify-content: center;
}

body.my-camping-car .theme .theme__menu li {
  margin: 0 15px;
}

body.my-camping-car .theme .theme__menu li:nth-child(1) button.selected {
  background-color: #8592ef;
}
body.my-camping-car .theme .theme__menu li:nth-child(2) button.selected {
  background-color: #1ecad3;
}
body.my-camping-car .theme .theme__menu li:nth-child(3) button.selected {
  background-color: #edac91;
}

body.my-camping-car .theme .theme__menu li button {
  width: 260px;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  background-color: #cbcccd;
  padding: 15px;
  border-radius: 50px;
}

body.my-camping-car .theme .theme__menu li button span {
  font-weight: 700;
  pointer-events: none;
}

body.my-camping-car .theme .theme__content {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

body.my-camping-car .theme .theme__content.invisible {
  display: none;
}

body.my-camping-car .theme .theme__content .content {
  position: relative;
}

body.my-camping-car .theme .theme__content .content span {
  position: absolute;
  left: 30px;
  color: #fff;
  font-size: 20px;
  text-align: left;
}

body.my-camping-car .theme .theme__content.first .content span,
body.my-camping-car .theme .theme__content.third .content span {
  bottom: 30px;
}

body.my-camping-car .theme .theme__content.first .content:last-child span,
body.my-camping-car .theme .theme__content.third .content:first-child span {
  top: 30px;
}

body.my-camping-car .theme .theme__content.second .content span {
  top: 30px;
}

body.my-camping-car .theme .theme__content.first .left,
body.my-camping-car .theme .theme__content.second .right,
body.my-camping-car .theme .theme__content.third .left {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  color: #545759;
}

body.my-camping-car .theme .theme__content.first .left,
body.my-camping-car .theme .theme__content.third .left {
  flex-basis: 60%;
}
body.my-camping-car .theme .theme__content.second .left {
  flex-basis: 35%;
}

body.my-camping-car .theme .theme__content .version {
  color: #fff;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 50px;
  max-width: 520px;
  line-height: 50px;
  text-align: center;
}

body.my-camping-car .theme .theme__content.first .version {
  background-color: #8592ef;
}
body.my-camping-car .theme .theme__content.second .version {
  background-color: #1ecad3;
}
body.my-camping-car .theme .theme__content.third .version {
  background-color: #edac91;
}

body.my-camping-car .theme .theme__content .version span::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 10px;
  left: -4px;
  width: 45px;
  height: 45px;
  margin: 0 10px;
  background: url("../../img/experience/theme_title.png") no-repeat center/cover;
}

body.my-camping-car .theme .theme__content .title {
  font-size: 56px;
  letter-spacing: -0.05em;
  line-height: 1.3em;
  margin: 50px 0;
}

body.my-camping-car .theme .theme__content.first .left .description p:last-child,
body.my-camping-car .theme .theme__content.second .right .description p:last-child,
body.my-camping-car .theme .theme__content.third .left .description p:last-child {
  margin-top: 20px;
}

body.my-camping-car .theme .theme__content.first .left .content,
body.my-camping-car .theme .theme__content.second .right .content,
body.my-camping-car .theme .theme__content.third .left .content {
  margin: 50px 0;
}

body.my-camping-car .theme .theme__content.first .right,
body.my-camping-car .theme .theme__content.third .right {
  flex-basis: 35%;
}
body.my-camping-car .theme .theme__content.second .right {
  flex-basis: 60%;
}

body.my-camping-car .theme .theme__content.first .right .content ~ .content,
body.my-camping-car .theme .theme__content.second .left .content ~ .content,
body.my-camping-car .theme .theme__content.third .right .content ~ .content {
  margin-top: 30px;
}

/* GIFT */
body.my-camping-car .gift {
  background-color: #6ad1d6;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

body.my-camping-car .gift .inner {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.my-camping-car .gift .mark {
  width: 250px;
  line-height: 35px;
  border-radius: 50px;
  font-weight: 700;
  color: #6ad1d6;
  background-color: #fff;
}

body.my-camping-car .gift .gift__title {
  font-size: 48px;
  padding: 20px 0;
}

body.my-camping-car .gift .todays-gift {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

body.my-camping-car .gift .todays-gift img {
  width: 150px;
}

body.my-camping-car .gift .todays-gift > div {
  padding-left: 30px;
  text-align: left;
}

body.my-camping-car .gift .todays-gift > div .title {
  font-weight: 500;
  font-size: 26px;
}

body.my-camping-car .gift .todays-gift > div .description:first-of-type {
  padding: 10px 0;
}

body.my-camping-car .gift .todays-gift > div .description:last-of-type {
  font-size: 16px;
}

body.my-camping-car .gift .image-group {
  display: flex;
  justify-content: space-between;
}

body.my-camping-car .gift .image-group img {
  width: 32%;
}

/* QUESTION AND ANSWER */
body.my-camping-car .question-and-answer {
  background-color: #f5f5f5;
}

body.my-camping-car .question-and-answer .inner {
  padding: 100px 0;
}

body.my-camping-car .question-and-answer .title {
  color: #1ecad3;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 1.8em;
}

body.my-camping-car .question-and-answer dl {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8em;
  color: #3e474c;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  position: relative;
}

body.my-camping-car .question-and-answer dl::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 80%;
  height: 1px;
  background-color: #1ecad3;
}

body.my-camping-car .question-and-answer dl dt {
  color: #1ecad3;
  font-size: 20px;
  font-weight: 700;
}

body.my-camping-car .question-and-answer dl dd {
  padding: 2px 0 10px 40px;
}

body.my-camping-car .question-and-answer dl dd em {
  font-size: 20px;
  font-weight: 700;
}

body.my-camping-car .question-and-answer dl:first-of-type dd p {
  font-weight: 700;
}

body.my-camping-car .question-and-answer dl:first-of-type dd:first-of-type strong {
  text-decoration: underline;
}

body.my-camping-car .question-and-answer dl:first-of-type dd:nth-of-type(2) strong {
  color: #ef8470;
}

/* TOGETHER */
body.my-camping-car .together {
  background-color: #fff;
  color: #3d464b;
  text-align: center;
}

body.my-camping-car .together .inner {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.my-camping-car .together .together__title {
  font-size: 48px;
}

body.my-camping-car .together .together__description {
  font-size: 26px;
  padding: 60px 0;
}

body.my-camping-car .together .together__links {
  display: flex;
  justify-content: center;
}

body.my-camping-car .together .together__links li .btn {
  background-color: #3d464b;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

body.my-camping-car .together .together__links li ~ li {
  margin-left: 40px;
}

/* NOTICE */
body.my-camping-car .notice {
  background-color: #ef8470;
  color: #fff;
  text-align: center;
}

body.my-camping-car .notice .inner {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.my-camping-car .notice img {
  width: 120px;
}

body.my-camping-car .notice .notice__title,
body.my-camping-car .notice .notice__description {
  padding-top: 25px;
}

body.my-camping-car .notice .notice__title {
  font-size: 26px;
}

body.my-camping-car .notice .notice__description {
  font-size: 16px;
}


/* 미디어 쿼리 */
@media screen and (max-width: 1023.9px) {
  
  /* COMMON */
  .pc {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  body.my-camping-car .video video.pc {
    display: block !important;
  }

  body.my-camping-car .video video.mobile {
    display: none !important;
  }

  br.only-pc {
    content: '';
  }
    
  br.only-m {
    content: normal;
  }

  /* SWIPER */
  body.my-camping-car .slogan .swiper.visual-swiper {
    min-height: 1000px;
  }  

  /* HEADER */
  body.my-camping-car #header.white {
    background-color: #fff;
  }

  body.my-camping-car #header .inner {
    padding: 0 10px;
  }

  body.my-camping-car #header nav ul.main-menu li a,
  body.my-camping-car #header nav ul.main-menu li.active a {
    color: #55585b;
  }

  body.my-camping-car #header nav ul.main-menu li.active span {
    border-bottom: 2px solid #1ecad3;
  }

  /* VIDEO */
  body.my-camping-car .video .video__title {
    font-size: 16px;
    font-weight: 400;
  }

  /* VISUAL -1-*/
  body.my-camping-car .visual.visual1 {
    background-attachment: scroll;
  }

  body.my-camping-car .visual.visual1 .text-group .text.text1,
  body.my-camping-car .visual.visual1 .text-group .text.text2 {
    max-width: 350px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }

  body.my-camping-car .visual.visual1 .text-group .text.text1 {
    left: 100px;
  }

  body.my-camping-car .visual.visual1 .text-group .text.text2 {
    bottom: -100px;
  }

  /* SLOGAN */
  body.my-camping-car .slogan .text-group {
    text-align: center;
    padding: 100px 0 0 0;
  }
  
  /* VISUAL -2-*/
  body.my-camping-car .visual.visual2 .inner {
    height: 600px;
  }

  body.my-camping-car .visual.visual2 .title {
    max-width: 100%;
    padding-top: 20px;
  }

  /* THEME */
  body.my-camping-car .theme .inner {
    padding: 50px 0;
  }

  body.my-camping-car .theme .theme__title {
    font-size: 24px;
  }

  body.my-camping-car .theme .theme__description {
    font-size: 16px;
    padding: 15px 0 50px 0;
  }

  body.my-camping-car .theme .theme__menu li {
    margin: 0 5px;
  }

  body.my-camping-car .theme .theme__menu li button {
    font-size: 20px;
    width: 200px;
  }

  body.my-camping-car .theme .theme__content {
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }

  body.my-camping-car .theme .theme__content.second {
    flex-direction: column-reverse;
  }

  body.my-camping-car .theme .theme__content .content span {
    font-size: 14px;
    font-weight: 400;
  }

  body.my-camping-car .theme .theme__content .version {
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
  }

  body.my-camping-car .theme .theme__content .version span::after {
    width: 25px;
    height: 25px;
  }

  body.my-camping-car .theme .theme__content .title {
    font-size: 50px;
    padding: 0 10px;
  }

  body.my-camping-car .theme .theme__content.first .left .description p:last-child,
  body.my-camping-car .theme .theme__content.second .right .description p:last-child,
  body.my-camping-car .theme .theme__content.third .left .description p:last-child {
    margin: 20px 0;
  }

  body.my-camping-car .theme .theme__content .description {
    padding: 0 10px;
    letter-spacing: -0.5px;
  }

  /* GIFT */
  body.my-camping-car .gift .inner {
    padding: 50px 10px;
  }

  /* QUESTION AND ANSWER */
  body.my-camping-car .question-and-answer .inner {
    padding: 50px 15px;
  }

  body.my-camping-car .question-and-answer h2 {
    font-size: 40px;
  }

  body.my-camping-car .question-and-answer dl {
    font-size: 16px;
    padding: 20px 0;
    border-bottom: 1px solid #1ecad3;
  }

  body.my-camping-car .question-and-answer dl::after {
    display: none;
  }

  body.my-camping-car .question-and-answer dl dt {
    font-size: 16px;
  }

  body.my-camping-car .question-and-answer dl dd em {
    font-size: 16px;
  }

  /* TOGETHER */
  body.my-camping-car .together .inner {
    padding: 50px 15px;
  }

  body.my-camping-car .together .together__title {
    font-size: 24px;
    font-weight: 400;
  }

  body.my-camping-car .together .together__description {
    font-size: 17px;
    padding: 40px 0;
  }

  body.my-camping-car .together .together__links li .btn {
    width: 60px;
    height: 60px;
  }

  /* NOTICE */
  body.my-camping-car .notice .inner {
    padding: 50px 15px;
  }

  body.my-camping-car .notice .notice__title {
    font-size: 17px;
  }

  body.my-camping-car .notice .notice__description {
    font-size: 15px;
  }
}